//
// Custom site-wide styles
// -> Imported from App.vue
//

//
// Import the bits of bulma we need
//
// @import './common.scss';
@import '~bulma/sass/base/_all.sass';

@import '~bulma/sass/elements/box.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/container.sass';
@import '~bulma/sass/elements/content.sass';
@import '~bulma/sass/elements/icon.sass';
@import '~bulma/sass/elements/notification.sass';
@import '~bulma/sass/elements/other.sass';
@import '~bulma/sass/elements/table.sass';
@import '~bulma/sass/elements/tag.sass';
@import '~bulma/sass/elements/title.sass';

@import '~bulma/sass/components/navbar.sass';

@import '~bulma/sass/form/_all.sass';
@import '~bulma/sass/grid/columns.sass';
@import '~bulma/sass/helpers/_all.sass';
@import '~bulma/sass/layout/_all.sass';

//
// bulma RTL overrides
//

.navbar {
  .navbar-menu {
    .navbar-start {
    }
    .navbar-end {
      margin-left: unset;
      margin-inline-start: auto;
    }
  }
  .navbar-burger {
    margin-left: unset;
    margin-inline-start: auto;
  }
}

.content {
  ul {
    margin-left: unset;
    margin-inline-start: 2em;
  }
}

*[dir='rtl'] {
  .ltr-only {
    display: none;
  }
}
*[dir='ltr'] {
  .rtl-only {
    display: none;
  }
}

// Make buttons with icons work nicely on ltr & rtl
.button .icon:first-child:not(:last-child) {
  margin-left: unset;
  margin-right: unset;
}
// Make buttons with icons work nicely on ltr & rtl
.button .icon:last-child:not(:first-child) {
  margin-left: unset;
  margin-right: unset;
}
.button .icon + :not(.icon) {
  padding-inline-start: 0.375em;
}

//
// Animations
//
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

//
// Scroll-top offset
//
html {
  scroll-padding-top: $navbar-height;
}

//
// Make sections smaller on mobile
//
@include mobile {
  .section {
    padding: 1.5rem 0.75rem;
  }
}

//
// Custom inline fields
//
.inlineField {
  display: inline-flex;
  justify-content: flex-start;
  border: 1px solid $border;
  overflow: hidden;
  border-radius: $radius;

  .input,
  .select,
  .select select,
  .button {
    border-radius: 0;
    border: none;
  }
  .button {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
  }
  > *:not(:last-child) {
    border-inline-end: 1px solid $border;
  }
}

.icon-text {
  display: inline-block;
}
