//
// non-style imports that are included in all vue lang=scss files
//
// ref: https://bulma.io/documentation/customize/variables/
//

$secondary: royalblue !default;

$twitter-blue: #1da1f2 !default;
$zoom-blue: #498af7 !default;
$teams-purple: #4f53a7 !default;

//
// Bulma cusomisations
//
$family-sans-serif: Avenir, -apple-system, system-ui, BlinkMacSystemFont,
  'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol' !default;
$family-monospace: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace !default;

$navbar-height: 3.5rem !default;

$footer-padding: 1.5rem 1.5rem 2.5rem !default;

$z-cookies: 50 !default;
$z-appwrapper-tabbar: 40 !default;
$z-appwrapper-navbar: 30 !default;
$z-sessions-tabs: 10 !default;

// buttons
$button-padding-horizontal: 1.5em !default;

// Radius
$radius: 8px !default;
$radius-small: 6px !default;

// Layout
// TODO: this variable is badly named compared to other components
// - it should also be defined in-component too
$tabbar-width: 5.5rem !default;

// Box
$box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.02),
  0 0px 0 1px rgba(10, 10, 10, 0.01) !default;

// Import bulma utils too
@import '~bulma/sass/utilities/_all.sass';

@mixin insetInlineStart($value) {
  &:dir(ltr) {
    left: $value;
  }
  &:dir(rtl) {
    right: $value;
  }
}

@mixin insetInlineEnd($value) {
  &:dir(ltr) {
    right: $value;
  }
  &:dir(rtl) {
    left: $value;
  }
}
